.container_btn_cadastrar_cidade{
    width: 100%;
    height: 60px;


    display: flex;
    align-items: center;

    margin-top: 10px;

    /* border: 1px solid red; */
}

.btn_cadastrar_cidade {
    --color: #038C3E;
    --color2: rgb(255, 255, 255);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
   }
   
   .btn_cadastrar_cidade::after, .btn_cadastrar_cidade::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .btn_cadastrar_cidade::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn_cadastrar_cidade:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn_cadastrar_cidade:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .btn_cadastrar_cidade:hover {
    color: var(--color2);
   }
   
   .btn_cadastrar_cidade:active {
    filter: brightness(.7);
    transform: scale(.98);
   }
   

.container_lista_cidades{
    width: 50%;
    margin-top: 50px;

}

@media (max-width: 930px) {
    .container_lista_cidades{
        width: 90%;
    }
}
