body {
    margin: 0;
    padding: 0;
    background: #1B213B;
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden;

    background-image: url(../../img/logoAgente360qualidade.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

@media screen and (max-width: 600px) {
    body {
        background-size: cover;
    }
}

/* Particles JS Container */
#particles-js {
    height: 100%;
}

/* Login Box */
.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 200px;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    z-index: 10;

background: rgba(0, 0, 0, 0.53);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12.1px);
-webkit-backdrop-filter: blur(12.1px);
border: 1px solid rgba(0, 0, 0, 0.3);


}

/* User Icon */
.user {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

/* Heading */
h3 {
    margin: 0;
    padding: 0 0 20px;
    color: #009414;
    text-align: center;
}

/* Inputs */
.loginBox input {
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    color: #fff;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgba(255, 166, 0, 0.63);
    outline: none;
    color: #FEB028;
}

.loginBox input[type="email"]:hover, .loginBox input[type="password"]:hover {

    border: 1px solid #FEB028;
    box-shadow: 0 0 5px rgba(0, 255, 0, .3), 0 0 10px rgba(0, 255, 0, .2), 0 0 15px rgba(0, 255, 0, .1), 0 2px 0 black;
}

.loginBox input[type="email"]:focus, .loginBox input[type="password"]:focus {
    border: 1px solid #FEB028;
    box-shadow: 0 0 5px rgba(0, 255, 0, .3), 0 0 10px rgba(0, 255, 0, .2), 0 0 15px rgba(0, 255, 0, .1), 0 2px 0 black;
}

/* Input Box */
.inputBox {
    position: relative;
}

.inputBox span {
    position: absolute;
    top: 10px;
    color: #262626;
}

/* Submit Button */
.loginBox button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #009414;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

/* Link */
.loginBox a {
    color: #262626;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block;
    
}

a:hover {
    color: #00ffff;
}

/* Paragraph */
p {
    color: #0000ff;
}

.wave{
    filter: drop-shadow(0 -5mm 6mm rgb(0, 6, 78));
    opacity: 0.9;
}